@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Outfit', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-light dark:bg-dark text-gray-800 dark:text-gray-200;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}